#u11072:active
{
	background-color: #E5E5E5;
	background-color: rgba(127, 127, 127, 0.2);
	-pie-background: rgba(127, 127, 127, 0.2);
}

#u11068:active
{
	background-color: #E5E5E5;
	background-color: rgba(127, 127, 127, 0.2);
	-pie-background: rgba(127, 127, 127, 0.2);
}

#u11071:active
{
	background-color: #E5E5E5;
	background-color: rgba(127, 127, 127, 0.2);
	-pie-background: rgba(127, 127, 127, 0.2);
}

#u12831:active
{
	background-color: #E5E5E5;
	background-color: rgba(127, 127, 127, 0.2);
	-pie-background: rgba(127, 127, 127, 0.2);
}

#u11071.MuseLinkActive,#u11069.MuseLinkActive,#u11068.MuseLinkActive,#u11072.MuseLinkActive,#u12831.MuseLinkActive
{
	background-color: transparent;
}

#u11069:active
{
	background-color: #E5E5E5;
	background-color: rgba(127, 127, 127, 0.2);
	-pie-background: rgba(127, 127, 127, 0.2);
}

#u11056
{
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #CAC8C8));
	background: -webkit-linear-gradient(top,#FFFFFF ,#CAC8C8 100%);
	background: -moz-linear-gradient(top,#FFFFFF ,#CAC8C8 100%);
	background: -ms-linear-gradient(top,#FFFFFF ,#CAC8C8 100%);
	background: -o-linear-gradient(top,#FFFFFF ,#CAC8C8 100%);
	background: linear-gradient(to bottom,#FFFFFF ,#CAC8C8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FFCAC8C8, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFCAC8C8', GradientType=0)";
	border-style: solid;
	border-color: #B6B6B6;
	position: relative;
	border-width: 0px 0px 1px;
}

#u11052,#u11054,#u11078
{
	position: relative;
}

#u11057
{
	vertical-align: top;
	background: url("../../images/u11057.png") no-repeat 9px 9px;
	position: relative;
}

#u11057:hover
{
	background: url("../../images/u11057-r.png") no-repeat 0px 0px;
}

#u11057:active
{
	background: url("../../images/u11057-m.png") no-repeat 3px 3px;
}

#u11059
{
	vertical-align: top;
	background: url("../../images/u11059.png") no-repeat 9px 9px;
	position: relative;
}

#u11059:hover
{
	background: url("../../images/u11059-r.png") no-repeat 0px 0px;
}

#u11059:active
{
	background: url("../../images/u11059-m.png") no-repeat 0px 0px;
}

#u11061
{
	vertical-align: top;
	background: url("../../images/u11061.png") no-repeat 9px 9px;
	position: relative;
}

#u11061:hover
{
	background: url("../../images/u11061-r.png") no-repeat 0px 0px;
}

#u11061:active
{
	background: url("../../images/u11061-m.png") no-repeat 3px 3px;
}

#u11063-4
{
	background-color: transparent;
	color: #3C3C3C;
	font-size: 7px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
}

#u11064-4,#u11065-4,#u11066-4,#u11067-4
{
	color: #3C3C3C;
	font-size: 7px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
}

#u11068:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
}

#u11069:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
}

#u11071:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
}

#u11072:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
}

#u11073,#u11074,#u11075,#u11076
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u11077-4
{
	text-align: center;
	color: #7F7F7F;
	font-size: 7px;
	position: relative;
}

#u11244
{
	vertical-align: top;
	background: url("../../images/u11244.png") no-repeat 9px 9px;
	position: relative;
}

#u11244:hover
{
	background: url("../../images/u11244-r.png") no-repeat 0px 0px;
}

#u11244:active
{
	background: url("../../images/u11244-m.png") no-repeat 3px 3px;
}

#u11068,#u11069,#u11071,#u11072,#u12831
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u12831:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
}

