@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

html
{
	background: #EBEBEB url("../../images/back.png") repeat center center scroll;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 545px;
	padding-bottom: 479px;
}

#pu4384
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 127px;
	left: 54px;
}

#u4384
{
	z-index: 2;
	width: 86px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 540px;
}

#u4390
{
	z-index: 4;
	width: 86px;
	margin-right: -10000px;
	margin-top: 70px;
	left: 544px;
}

#u4110
{
	z-index: 10;
	width: 700px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u4116
{
	z-index: 12;
	width: 80px;
	margin-right: -10000px;
	margin-top: 248px;
	left: 586px;
}

#u4063
{
	z-index: 14;
	width: 51px;
	padding-bottom: 5px;
	margin-right: -10000px;
	margin-top: 278px;
	left: 613px;
}

#u4063:hover
{
	margin: 278px -10000px 0px 0px;
}

#u4063.MuseLinkActive
{
	margin: 278px -10000px 0px 0px;
}

#u4629
{
	z-index: 115;
	width: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: -8px;
	left: -7px;
}

#u4046-4
{
	z-index: 15;
	width: 70px;
	min-height: 6px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 559px;
}

#u4049-4
{
	z-index: 19;
	width: 72px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 559px;
}

#u4061
{
	z-index: 23;
	width: 52px;
	height: 17px;
	margin-right: -10000px;
	margin-top: 78px;
	left: 568px;
}

#u4062
{
	z-index: 24;
	width: 52px;
	height: 18px;
	margin-right: -10000px;
	margin-top: 41px;
	left: 568px;
}

#pamphletu4064
{
	z-index: 25;
	width: 0.01px;
	height: 20px;
	margin-right: -10000px;
	margin-top: 249px;
	left: 613px;
}

#u4069popup
{
	z-index: 26;
}

#u4069
{
	width: 665px;
	padding-bottom: 44px;
	top: -357px;
	left: -581px;
}

#u4070
{
	z-index: 27;
	width: 617px;
	height: 577px;
	padding-left: 4px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u4075
{
	z-index: 71;
	width: 208px;
	padding-bottom: 6px;
	margin-left: 202px;
}

#u4071-4
{
	z-index: 72;
	width: 208px;
	margin-right: -10000px;
	margin-top: 8px;
}

#pu4080
{
	width: 0.01px;
	margin-top: 38px;
	position: relative;
}

#u4080
{
	z-index: 28;
	margin-bottom: -5px;
	width: 625px;
	margin-right: -10000px;
	margin-top: -3px;
	left: -7px;
}

#u4077-4
{
	z-index: 30;
	width: 135px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 40px;
}

#u4083-4
{
	z-index: 34;
	width: 135px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 237px;
}

#u4079-4
{
	z-index: 38;
	width: 147px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 422px;
}

#u4074-4
{
	z-index: 42;
	width: 152px;
	margin-right: -10000px;
	margin-top: 174px;
	left: 227px;
}

#u4085-4
{
	z-index: 46;
	width: 135px;
	margin-right: -10000px;
	margin-top: 91px;
	left: 39px;
}

#u4084-4
{
	z-index: 50;
	width: 135px;
	margin-right: -10000px;
	margin-top: 90px;
	left: 236px;
}

#u4072-4
{
	z-index: 54;
	width: 135px;
	margin-right: -10000px;
	margin-top: 90px;
	left: 428px;
}

#u4078-4
{
	z-index: 58;
	width: 135px;
	margin-right: -10000px;
	margin-top: 132px;
	left: 40px;
}

#u4076-4
{
	z-index: 62;
	width: 135px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 235px;
}

#u4073-4
{
	z-index: 66;
	width: 135px;
	margin-right: -10000px;
	margin-top: 132px;
	left: 428px;
}

#u4082
{
	z-index: 70;
	width: 66px;
	height: 7px;
	margin-left: 272px;
	margin-top: 300px;
}

#u4088
{
	z-index: 76;
	width: 51px;
	margin-right: -10000px;
}

#u4089
{
	width: 51px;
	height: 20px;
}

.ie #u4061,.ie #u4062,.ie #u4082,.ie #u4089
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4089:hover
{
	margin: 0px;
}

.ie #u4089:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u4086
{
	width: 72px;
	top: -26px;
	left: -284px;
}

#u4086:hover
{
	margin: 0px;
}

#u4086:active
{
	margin: 0px;
}

#u4087-4
{
	z-index: 79;
	width: 70px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 2px;
}

#u4053
{
	z-index: 83;
	width: 27px;
	margin-right: -10000px;
	margin-top: 337px;
	left: 45px;
}

#u4055
{
	z-index: 85;
	width: 29px;
	margin-right: -10000px;
	margin-top: 346px;
	left: 85px;
}

#u4057
{
	z-index: 87;
	width: 27px;
	margin-right: -10000px;
	margin-top: 340px;
	left: 125px;
}

#u4578
{
	z-index: 89;
	width: 450px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 117px;
}

#u4583
{
	z-index: 91;
	width: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 282px;
	left: 324px;
}

#u4588
{
	z-index: 93;
	width: 44px;
	position: relative;
	margin-right: -10000px;
	margin-top: 350px;
	left: 534px;
}

#u4593
{
	z-index: 95;
	width: 46px;
	position: relative;
	margin-right: -10000px;
	left: 575px;
}

#u4598
{
	z-index: 97;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 249px;
	left: 86px;
}

#u4614-4
{
	z-index: 99;
	width: 100px;
	min-height: 90px;
	text-align: center;
	color: #787878;
	line-height: 1.37;
	font-size: 8px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 292px;
}

#u4615-5
{
	z-index: 103;
	width: 100px;
	text-align: center;
	color: #787878;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 292px;
}

#u4615-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u4615-3  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.4;
}

#u4615
{
	font-size: 18px;
}

#u4615-2
{
	font-size: 8px;
}

#u4617
{
	z-index: 108;
	width: 160px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: -8px;
}

#u4618
{
	z-index: 109;
	width: 89px;
	position: relative;
	margin-right: -10000px;
	left: 71px;
}

#u4620
{
	z-index: 111;
	position: relative;
	width: 142px;
	margin-right: -10000px;
	margin-top: 15px;
}

#u4620_img
{
	display: block;
	vertical-align: top;
}

#u4624
{
	z-index: 113;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: 621px;
}

#u4052-4
{
	z-index: 6;
	width: 383px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 532px;
	left: 213px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -532px;
}

