#u4071-4,#u4077-4,#u4083-4,#u4079-4,#u4074-4,#u4085-4,#u4084-4,#u4072-4,#u4078-4,#u4076-4,#u4073-4
{
	font-family: source-sans-pro-i4, sans-serif;
}

#u4046-4,#u4049-4,#u4087-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4052-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

