.html
{
	background-color: #DEDEDE;
}

#page
{
	z-index: 1;
	width: 900px;
	min-height: 10104px;
	margin-left: auto;
	margin-right: auto;
}

#u427-3
{
	z-index: 140;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3649px;
	left: -408px;
}

#pu368
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: -100px;
}

#u368
{
	z-index: 2;
	width: 1100px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 335px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2270px;
	background: transparent url("../images/instalaciones_arv0541.jpg") repeat-x center center;
}

#u383-4
{
	z-index: 14;
	width: 751px;
	min-height: 93px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	line-height: 84px;
	color: #FFFFFF;
	font-size: 70px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 248px;
	left: 175px;
}

#u483
{
	z-index: 3;
	width: 1100px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 207px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4338px;
	background: transparent url("../images/viodeoteca.jpg") repeat center center;
}

#pu518
{
	z-index: 116;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 285px;
	left: 100px;
}

#u518
{
	z-index: 0;
	width: 464px;
	border-style: none;
	border-color: transparent;
	background-color: #122B42;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu491-9
{
	width: 0.01px;
	position: relative;
	left: 41px;
	padding-top: 25px;
	z-index: 2;
	padding-bottom: 21px;
}

#u491-9
{
	z-index: 117;
	width: 387px;
	min-height: 166px;
	line-height: 26px;
	color: #E6E6E6;
	text-align: justify;
	font-size: 16px;
	letter-spacing: -1px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u491-3
{
	font-size: 20px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	font-style: italic;
	line-height: 32px;
}

#u170
{
	z-index: 4;
	width: 1100px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 555px;
	position: relative;
	margin-right: -10000px;
	margin-top: 650px;
	background: #FFFFFF url("../images/antenas_arv2490.jpg") no-repeat center center;
}

#u187
{
	z-index: 126;
	width: 1px;
	height: 222px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: 273px;
}

#u185-14
{
	z-index: 60;
	width: 457px;
	min-height: 224px;
	line-height: 26px;
	color: #FFFFFF;
	font-size: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 151px;
	left: 300px;
}

#u185-4,#u185-5,#u185-8,#u185-10,#u185-12
{
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u175
{
	z-index: 5;
	width: 1100px;
	-pie-box-shadow: 0px 0px 7px 2px #666666;
	-moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.6);
	border-style: none;
	border-color: transparent;
	background-color: #DEDEDE;
	padding-bottom: 44px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1512px;
}

#dos
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 100px;
}

#pu337
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 136px;
}

#u337
{
	z-index: 48;
	width: 165px;
	position: relative;
}

#u343
{
	z-index: 54;
	width: 165px;
	margin-top: 1px;
	position: relative;
}

#u345
{
	z-index: 56;
	width: 160px;
	position: relative;
	margin-right: -10000px;
	margin-top: 243px;
	left: 305px;
}

#ppu341
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 468px;
}

#pu341
{
	width: 0.01px;
	position: relative;
}

#u341
{
	z-index: 52;
	width: 163px;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
}

#u339
{
	z-index: 50;
	width: 328px;
	position: relative;
	margin-right: -10000px;
	left: 173px;
}

#u186-10
{
	z-index: 74;
	width: 384px;
	min-height: 274px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 109px;
	margin-top: 76px;
	position: relative;
}

#u186-3,#u186-4,#u186-7
{
	font-size: 16px;
	line-height: 26px;
	color: #717171;
}

#u185-2,#u185-6,#u186,#u186-5
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
	font-style: italic;
}

#u186-8
{
	font-size: 15px;
	line-height: 23px;
	color: #FFFFFF;
}

#u546
{
	z-index: 6;
	width: 1100px;
	height: 584px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5826px;
	background: transparent url("../images/fachada.jpg") repeat-x center center;
}

#u671
{
	z-index: 7;
	width: 1100px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 132px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8941px;
	background: transparent url("../images/_arv2201.jpg") no-repeat center center;
}

#pu678
{
	z-index: 58;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 432px;
	left: 514px;
}

#u678
{
	z-index: 0;
	width: 467px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu747-4
{
	width: 0.01px;
	position: relative;
	left: 24px;
	padding-top: 24px;
	z-index: 2;
	padding-bottom: 20px;
}

#u747-4
{
	z-index: 245;
	width: 420px;
	min-height: 56px;
	background-color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	line-height: 56px;
	color: #717171;
	text-align: center;
	font-size: 35px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	font-style: italic;
	position: relative;
}

#u679-6
{
	z-index: 239;
	width: 420px;
	min-height: 97px;
	line-height: 26px;
	color: #717171;
	text-align: center;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#u608
{
	z-index: 8;
	width: 1100px;
	height: 512px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7504px;
	background: transparent url("../images/noti01_mg_2844.jpg") no-repeat center center;
}

#u376
{
	z-index: 9;
	width: 1100px;
	height: 1516px;
	-pie-box-shadow: 0px 0px 7px 2px #666666;
	-moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.6);
	border-style: none;
	border-color: transparent;
	background-color: #DEDEDE;
	position: relative;
	margin-right: -10000px;
	margin-top: 2856px;
}

#u502
{
	z-index: 10;
	width: 1100px;
	-pie-box-shadow: 0px 0px 7px 2px #666666;
	-moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.6);
	border-style: none;
	border-color: transparent;
	background-color: #DEDEDE;
	padding-bottom: 220px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4974px;
}

#u525
{
	z-index: 165;
	width: 285px;
	position: relative;
	margin-right: -10000px;
	margin-top: 109px;
	left: 171px;
}

#pu517-9
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 193px;
	left: 564px;
}

#u517-9
{
	z-index: 143;
	width: 380px;
	min-height: 149px;
	line-height: 26px;
	color: #717171;
	text-align: justify;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u523-6
{
	z-index: 159;
	width: 380px;
	min-height: 149px;
	line-height: 26px;
	color: #717171;
	text-align: justify;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 158px;
	position: relative;
}

#u602
{
	z-index: 11;
	width: 1100px;
	-pie-box-shadow: 0px 0px 7px 2px #666666;
	-moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.6);
	border-style: none;
	border-color: transparent;
	background-color: #DEDEDE;
	padding-bottom: 98px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6361px;
}

#u368_align_to_page,#u483_align_to_page,#u170_align_to_page,#u175_align_to_page,#u671_align_to_page,#u502_align_to_page,#u602_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	position: relative;
	left: -100px;
}

#u590
{
	z-index: 30;
	width: 262px;
	position: relative;
	margin-right: -10000px;
	margin-top: 462px;
	left: 70px;
}

#u570
{
	z-index: 22;
	width: 139px;
	position: relative;
	margin-right: -10000px;
	margin-top: 801px;
	left: 427px;
}

#pu565
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 462px;
	left: 605px;
}

#u565
{
	z-index: 20;
	width: 299px;
	margin-left: 129px;
	position: relative;
}

#u600-5
{
	z-index: 192;
	width: 444px;
	min-height: 150px;
	line-height: 26px;
	color: #717171;
	text-align: left;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 195px;
	position: relative;
}

#u638
{
	z-index: 12;
	width: 1100px;
	-pie-box-shadow: 0px 0px 7px 2px #666666;
	-moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.6);
	border-style: none;
	border-color: transparent;
	background-color: #DEDEDE;
	position: relative;
	margin-right: -10000px;
	margin-top: 7990px;
}

#u638_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	position: relative;
	left: -100px;
	padding-top: 221px;
	padding-bottom: 157px;
}

#pu651
{
	width: 0.01px;
	left: 130px;
	position: relative;
}

#u651
{
	z-index: 34;
	width: 183px;
	position: relative;
	margin-right: -10000px;
}

#pu642-9
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 420px;
}

#u642-9
{
	z-index: 201;
	width: 370px;
	min-height: 86px;
	color: #717171;
	font-size: 16px;
	line-height: 26px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u644-6
{
	z-index: 210;
	width: 370px;
	min-height: 86px;
	color: #717171;
	font-size: 16px;
	line-height: 26px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 33px;
	position: relative;
}

#u646-8
{
	z-index: 216;
	width: 420px;
	min-height: 132px;
	color: #717171;
	font-size: 16px;
	line-height: 26px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	left: 550px;
	margin-top: 3px;
	position: relative;
}

#u648-7
{
	z-index: 224;
	width: 420px;
	min-height: 97px;
	color: #717171;
	font-size: 16px;
	line-height: 26px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	left: 550px;
	margin-top: 15px;
	position: relative;
}

#u650-8
{
	z-index: 231;
	width: 420px;
	min-height: 97px;
	color: #717171;
	font-size: 16px;
	line-height: 26px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	left: 550px;
	margin-top: 19px;
	position: relative;
}

#u459
{
	z-index: 13;
	width: 1100px;
	height: 1516px;
	border-style: none;
	border-color: transparent;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	position: relative;
	margin-right: -10000px;
	margin-top: 2856px;
	background: transparent url("../images/fnd_icon_02.png") repeat center center;
}

#u397
{
	z-index: 18;
	width: 628px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2950px;
	left: 236px;
}

#u575
{
	z-index: 24;
	width: 139px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7059px;
	left: 597px;
}

#u580
{
	z-index: 26;
	width: 181px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6908px;
	left: 416px;
}

#u585
{
	z-index: 28;
	width: 273px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7037px;
	left: 143px;
}

#u632
{
	z-index: 32;
	width: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7537px;
	left: 820px;
}

#u656
{
	z-index: 36;
	width: 183px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8378px;
	left: 313px;
}

#u661
{
	z-index: 38;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8569px;
	left: 256px;
}

#u666
{
	z-index: 40;
	width: 128px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8675px;
	left: 386px;
}

#u682
{
	z-index: 42;
	width: 1100px;
	height: 212px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9687px;
	background: transparent url("../images/tira.jpg") repeat-x center center;
}

#u681
{
	z-index: 43;
	width: 1100px;
	height: 235px;
	-pie-box-shadow: 0px 0px 7px 2px #666666;
	-moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.6);
	border-style: none;
	border-color: transparent;
	background-color: #DEDEDE;
	position: relative;
	margin-right: -10000px;
	margin-top: 9870px;
}

#u148
{
	z-index: 44;
	width: 1100px;
	height: 695px;
	border-style: none;
	border-color: transparent;
	background-color: #DEDEDE;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u109
{
	z-index: 45;
	width: 1100px;
	height: 695px;
	-pie-box-shadow: none;
	-moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 2px 2px 8px -1px rgba(0, 0, 0, 0.75);
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.75);
	border-style: none;
	border-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/iconos_01.png") repeat-x center center;
}

#u753
{
	z-index: 46;
	width: 609px;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 245px;
}

#u458
{
	z-index: 59;
	width: 454px;
	border-width: 20px;
	border-style: solid;
	border-color: #CECECE;
	background-color: #DEDEDE;
	position: relative;
	margin-right: -10000px;
	margin-top: 3640px;
	left: 250px;
	padding: 77px 52px 54px 53px;
}

#u386-9
{
	z-index: 84;
	width: 454px;
	min-height: 70px;
	line-height: 26px;
	color: #717171;
	text-align: justify;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u642-4,#u386-2
{
	font-family: open-sans, sans-serif;
	font-weight: 600;
	font-style: italic;
	line-height: 26px;
}

#u426-8
{
	z-index: 93;
	width: 454px;
	min-height: 91px;
	line-height: 26px;
	color: #717171;
	text-align: justify;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 19px;
	position: relative;
}

#u429-5
{
	z-index: 101;
	width: 454px;
	min-height: 114px;
	line-height: 26px;
	color: #717171;
	text-align: justify;
	font-size: 16px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 26px;
	position: relative;
}

#u457-10
{
	z-index: 106;
	width: 454px;
	min-height: 152px;
	line-height: 26px;
	color: #717171;
	text-align: justify;
	font-size: 16px;
	letter-spacing: -1px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 26px;
	position: relative;
}

#u519
{
	z-index: 127;
	width: 442px;
	height: 192px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: relative;
	margin-right: -10000px;
	margin-top: 4633px;
	left: 111px;
}

#u188-4
{
	z-index: 128;
	width: 403px;
	min-height: 48px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	-webkit-transform: matrix(0,-1,1,0,178,226);
	-ms-transform: matrix(0,-1,1,0,178,226);
	-o-transform: matrix(0,-1,1,0,178,226);
	transform: matrix(0,-1,1,0,178,226);
	position: relative;
	margin-right: -10000px;
	margin-top: 825px;
	left: 55px;
}

#u228-4
{
	z-index: 132;
	width: 215px;
	min-height: 51px;
	color: #717171;
	font-size: 35px;
	line-height: 42px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	-webkit-transform: matrix(0,-1,1,0,82,133);
	-ms-transform: matrix(0,-1,1,0,82,133);
	-o-transform: matrix(0,-1,1,0,82,133);
	transform: matrix(0,-1,1,0,82,133);
	position: relative;
	margin-right: -10000px;
	margin-top: 2090px;
	left: 358px;
}

#u254-4
{
	z-index: 136;
	width: 270px;
	min-height: 485px;
	background-color: transparent;
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	color: #717171;
	font-size: 400px;
	line-height: 480px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 1829px;
	left: 470px;
}

#u521-7
{
	z-index: 152;
	width: 380px;
	min-height: 149px;
	line-height: 26px;
	color: #717171;
	text-align: justify;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5312px;
	left: 564px;
}

#u491-7,#u679-4,#u517-7,#u523-4,#u600-3,#u642-7,#u644-4,#u646-6,#u648-5,#u650-6,#u386-7,#u426-6,#u429-3,#u457-8,#u521-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u530
{
	z-index: 167;
	width: 183px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5368px;
	left: 328px;
}

.js #u383-4.pre_init,.js #u337.pre_init,.js #u341.pre_init,.js #u339.pre_init,.js #u590.pre_init,.js #u570.pre_init,.js #u565.pre_init,.js #u656.pre_init,.js #u661.pre_init,.js #u386-9.pre_init,.js #u426-8.pre_init,.js #u429-5.pre_init,.js #u457-10.pre_init,.js #u530.pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u535
{
	z-index: 169;
	width: 169px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5534px;
	left: 248px;
}

#u598-4
{
	z-index: 171;
	width: 270px;
	min-height: 485px;
	background-color: transparent;
	opacity: 0.1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	color: #717171;
	font-size: 400px;
	line-height: 480px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 6341px;
	left: 572px;
}

#u599-17
{
	z-index: 175;
	width: 474px;
	min-height: 319px;
	line-height: 26px;
	color: #717171;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 6509px;
	left: 120px;
}

#u599-7,#u599-13
{
	text-align: right;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u491-2,#u517-2,#u517-4,#u642-3,#u644-2,#u646-2,#u646-4,#u648-2,#u650-2,#u386-3,#u386-5,#u426-2,#u457-6,#u521-2,#u599-3,#u599-10
{
	font-size: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	font-style: italic;
	line-height: 30px;
}

#u491,#u491-4,#u491-6,#u679,#u679-3,#u517,#u517-3,#u517-6,#u523,#u523-3,#u600,#u642,#u642-5,#u644,#u644-3,#u646,#u646-3,#u646-5,#u648,#u648-3,#u650,#u650-3,#u650-5,#u386,#u386-4,#u386-6,#u426,#u426-3,#u426-5,#u429,#u457,#u457-3,#u457-5,#u457-7,#u521,#u521-3,#u599,#u599-5,#u599-9,#u599-11
{
	line-height: 26px;
}

#u491-5,#u679-2,#u517-5,#u523-2,#u600-2,#u642-2,#u642-6,#u648-4,#u650-4,#u426-4,#u429-2,#u457-2,#u457-4,#u521-4,#u599-2,#u599-4,#u599-6,#u599-12
{
	font-size: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	line-height: 30px;
}

#u599-8,#u599-14
{
	text-align: right;
}

#u599-15
{
	text-align: center;
}

#u689
{
	z-index: 249;
	width: 1100px;
	height: 58px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9921px;
	background: #CCCCCC url("../images/c_infografias.jpg") no-repeat center center;
}

#uno
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 695px;
	left: 100px;
}

#tres
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 2858px;
	left: 100px;
}

#pu640-4
{
	width: 0.01px;
	padding-bottom: 4901px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3303px;
	left: 20px;
}

#u640-4
{
	z-index: 197;
	width: 563px;
	min-height: 97px;
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	color: #717171;
	font-size: 50px;
	line-height: 60px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 8107px;
	left: 20px;
}

#u731
{
	z-index: 253;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 3342px;
	left: 81px;
}

#u733
{
	z-index: 255;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 3300px;
	left: 318px;
}

#u764
{
	z-index: 257;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 3360px;
	left: 538px;
}

#page .verticalspacer
{
	clear: both;
}

