#u184-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u3718-4,#u2316-4,#u2307-4,#u2313-4,#u2314-4,#u2309-4,#u2312-4,#u2311-4,#u2319-4,#u2308-4,#u2315-4
{
	font-family: source-sans-pro-i4, sans-serif;
}

#u793-4,#u796-4,#u2302-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u894-4,#u3756-5,#u3951-4,#u3960-4,#u3947-4,#u3958-4,#u3946-4,#u3959-4,#u3954-4,#u3952-4,#u3953-4,#u3950-4,#u3955-4
{
	font-family: source-sans-pro-i4, sans-serif;
}

#u3964-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

