#u2471.MuseLinkActive
{
	background-color: transparent;
}

#u793-4
{
	text-align: center;
	color: #FFFFFF;
	font-size: 11px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u796-4
{
	text-align: center;
	line-height: 0.9;
	font-size: 11px;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u173_img
{
	opacity: 0.91;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=91)";
	filter: alpha(opacity=91);
}

#u184-4
{
	text-align: center;
	font-size: 10px;
	color: #ADADAD;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u2471
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 16px 16px 16px 0px ;
	-webkit-border-radius: 16px 16px 16px 0px ;
	-khtml-border-radius: 16px 16px 16px 0px ;
	border-radius: 16px 16px 16px 0px ;
	position: relative;
}

#u2471:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.25);
	-pie-background: rgba(255, 255, 255, 0.25);
}

#u2305
{
	position: absolute;
	background: transparent url("../images/u2305-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0, 0, 0, 0.53)),color-stop(90%, #7F7F7F));
	background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.53) ,#7F7F7F 90%);
	background: -moz-linear-gradient(top,rgba(0, 0, 0, 0.53) ,#7F7F7F 90%);
	background: -ms-linear-gradient(top,rgba(0, 0, 0, 0.53) ,#7F7F7F 90%);
	background: -o-linear-gradient(top,rgba(0, 0, 0, 0.53) ,#7F7F7F 90%);
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.53) ,#7F7F7F 90%);
}

#u2306
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 15px 15px 0px 0px ;
	-webkit-border-radius: 15px 15px 0px 0px ;
	-khtml-border-radius: 15px 15px 0px 0px ;
	border-radius: 15px 15px 0px 0px ;
	position: relative;
}

#u3717
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	position: relative;
}

#u3718-4
{
	text-align: center;
	font-size: 15px;
	color: #DBD9D9;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
}

#u2317
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u2316-4,#u2307-4
{
	text-align: center;
	font-size: 15px;
	color: #000000;
	letter-spacing: 0px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u2313-4,#u2314-4
{
	text-align: center;
	line-height: 1;
	font-size: 15px;
	color: #000000;
	letter-spacing: 0px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u2309-4,#u2312-4,#u2311-4
{
	text-align: center;
	font-size: 15px;
	color: #000000;
	letter-spacing: 0px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	-webkit-transform: rotate(358deg);
	-moz-transform: rotate(358deg);
	-ms-transform: rotate(358deg);
	-o-transform: rotate(358deg);
	transform: rotate(358deg);
	position: relative;
}

#u2319-4,#u2308-4,#u2315-4
{
	text-align: center;
	font-size: 15px;
	color: #000000;
	letter-spacing: 0px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
	position: relative;
}

#u791,#u794,#u173,#u703,#u708,#u713,#u940,#u2326,#u2328,#pamphletu2298,#u2329,#u2320
{
	position: relative;
}

#u2321
{
	position: absolute;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u2321:hover
{
	background-color: #E9E9E9;
	background-color: rgba(127, 127, 127, 0.17);
	-moz-border-radius: 13px 13px 13px 0px ;
	-webkit-border-radius: 13px 13px 13px 0px ;
	-khtml-border-radius: 13px 13px 13px 0px ;
	border-radius: 13px 13px 13px 0px ;
	-pie-background: rgba(127, 127, 127, 0.17);
}

#u2301
{
	position: absolute;
	background: #000000 url("../images/u2301-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#C4C4C4),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#C4C4C4 ,#000000 100%);
	background: -moz-linear-gradient(top,#C4C4C4 ,#000000 100%);
	background: -ms-linear-gradient(top,#C4C4C4 ,#000000 100%);
	background: -o-linear-gradient(top,#C4C4C4 ,#000000 100%);
	background: linear-gradient(to bottom,#C4C4C4 ,#000000 100%);
	border-color: #999999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

#u2301:hover
{
	background: #000000 url("../images/u2301-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#999999),color-stop(78%, #000000));
	background: -webkit-linear-gradient(top,#999999 ,#000000 78%);
	background: -moz-linear-gradient(top,#999999 ,#000000 78%);
	background: -ms-linear-gradient(top,#999999 ,#000000 78%);
	background: -o-linear-gradient(top,#999999 ,#000000 78%);
	background: linear-gradient(to bottom,#999999 ,#000000 78%);
	border-color: #6B6B6B;
}

#u2301:active
{
	background: #000000 url("../images/u2301-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#6B6B6B),color-stop(78%, #000000));
	background: -webkit-linear-gradient(top,#6B6B6B ,#000000 78%);
	background: -moz-linear-gradient(top,#6B6B6B ,#000000 78%);
	background: -ms-linear-gradient(top,#6B6B6B ,#000000 78%);
	background: -o-linear-gradient(top,#6B6B6B ,#000000 78%);
	background: linear-gradient(to bottom,#6B6B6B ,#000000 78%);
	border-color: #6B6B6B;
}

#u2302-4
{
	text-align: center;
	line-height: 1.4;
	font-size: 12px;
	color: #E4E2E2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

