@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

html
{
	background-color: #000000;
	background: -webkit-gradient(linear, center top, center bottom, from(#000000),color-stop(100%, #DBDBDB));
	background: -webkit-linear-gradient(top,#000000 ,#DBDBDB 100%);
	background: -moz-linear-gradient(top,#000000 ,#DBDBDB 100%);
	background: -ms-linear-gradient(top,#000000 ,#DBDBDB 100%);
	background: -o-linear-gradient(top,#000000 ,#DBDBDB 100%);
	background: linear-gradient(to bottom,#000000 ,#DBDBDB 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF000000, endColorstr=#FFDBDBDB, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF000000', endColorstr='#FFDBDBDB', GradientType=0)";
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1010px;
	padding-bottom: 14px;
}

#pu7065
{
	z-index: 6;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 215px;
	left: 91px;
}

#u7065
{
	z-index: 0;
	width: 587px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu8647-6
{
	width: 0.01px;
	padding-bottom: 64.75525958181197px;
	position: relative;
	left: 34px;
	padding-top: 143px;
	z-index: 2;
}

#u8647-6
{
	z-index: 191;
	width: 346px;
	font-size: 24px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u8647
{
	font-size: 15px;
	color: #616161;
}

#u8647-4
{
	text-indent: 7px;
}

#u8656
{
	z-index: 205;
	display: block;
	vertical-align: top;
	margin-left: 90px;
	margin-top: 26px;
	position: relative;
}

#u8648-4
{
	z-index: 197;
	width: 298px;
	min-height: 85px;
	text-align: justify;
	line-height: 1.25;
	color: #666666;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 116px;
	margin-top: 19px;
	position: relative;
}

#u8649-4
{
	z-index: 201;
	width: 68px;
	min-height: 12px;
	background-color: transparent;
	text-align: center;
	color: #7F7F7F;
	font-size: 13px;
	font-style: italic;
	margin-left: 231px;
	margin-top: 12px;
	position: relative;
}

#u8649-4:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.35);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 12px 0px 0px 231px;
	-pie-background: rgba(255, 255, 255, 0.35);
}

#u8649-4.MuseLinkActive
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 12px 0px 0px 231px;
}

#u8649-4:hover p
{
	text-align: center;
}

#pu7010
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

#u7010
{
	z-index: 2;
	width: 768px;
	margin-right: -10000px;
}

#u6997
{
	z-index: 4;
	width: 768px;
	margin-right: -10000px;
	margin-top: 792px;
}

#u6999-4
{
	z-index: 7;
	width: 410px;
	min-height: 11px;
	margin-right: -10000px;
	margin-top: 923px;
	left: 179px;
}

#u5048
{
	z-index: 12;
	height: 43px;
	width: 43px;
	margin-right: -10000px;
	margin-top: 863px;
	left: 687px;
}

#u5050
{
	z-index: 16;
	height: 43px;
	width: 43px;
	margin-right: -10000px;
	margin-top: 863px;
	left: 657px;
}

#u5052
{
	z-index: 20;
	height: 43px;
	width: 43px;
	margin-right: -10000px;
	margin-top: 863px;
	left: 628px;
}

#u5056-5
{
	z-index: 23;
	width: 139px;
	margin-right: -10000px;
	margin-top: 876px;
	left: 132px;
}

#u5056-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 876px -10000px 0px 0px;
}

#u5057-5
{
	z-index: 28;
	width: 56px;
	margin-right: -10000px;
	margin-top: 876px;
	left: 298px;
}

#u5058-5
{
	z-index: 33;
	width: 56px;
	margin-right: -10000px;
	margin-top: 876px;
	left: 382px;
}

#u5059-5
{
	z-index: 38;
	width: 68px;
	margin-right: -10000px;
	margin-top: 876px;
	left: 465px;
}

#u5060-5
{
	z-index: 43;
	width: 56px;
	margin-right: -10000px;
	margin-top: 876px;
	left: 560px;
}

#u5061
{
	z-index: 48;
	width: 168px;
	height: 40px;
	margin-right: -10000px;
	margin-top: 862px;
	left: 117px;
}

.ie #u5061
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5061:hover
{
	margin: 862px -10000px 0px 0px;
}

.ie #u5061:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u5061:active
{
	margin: 862px -10000px 0px 0px;
}

.ie #u5061:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u5061.MuseLinkActive
{
	margin: 862px -10000px 0px 0px;
}

.ie #u5061.MuseLinkActive
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5062
{
	z-index: 49;
	width: 85px;
	padding-bottom: 3px;
	margin-right: -10000px;
	margin-top: 862px;
	left: 284px;
}

#u5062:hover
{
	margin: 862px -10000px 0px 0px;
}

#u5062:active
{
	margin: 862px -10000px 0px 0px;
}

#u5066
{
	z-index: 53;
	width: 2px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 1px;
}

#u5063
{
	z-index: 50;
	width: 85px;
	padding-bottom: 3px;
	margin-right: -10000px;
	margin-top: 862px;
	left: 367px;
}

#u5062.MuseLinkActive,#u5063:hover
{
	margin: 862px -10000px 0px 0px;
}

#u5063:active
{
	margin: 862px -10000px 0px 0px;
}

#u5067
{
	z-index: 54;
	width: 2px;
	margin-right: -10000px;
	margin-top: 7px;
}

#u5064
{
	z-index: 51;
	width: 97px;
	padding-bottom: 2px;
	margin-right: -10000px;
	margin-top: 862px;
	left: 450px;
}

#u5063.MuseLinkActive,#u5064:hover
{
	margin: 862px -10000px 0px 0px;
}

#u5064:active
{
	margin: 862px -10000px 0px 0px;
}

#u5068
{
	z-index: 55;
	width: 2px;
	margin-right: -10000px;
	margin-top: 7px;
}

#u5065
{
	z-index: 52;
	width: 82px;
	padding-bottom: 2px;
	margin-right: -10000px;
	margin-top: 862px;
	left: 545px;
}

#u5064.MuseLinkActive,#u5065:hover
{
	margin: 862px -10000px 0px 0px;
}

#u5065:active
{
	margin: 862px -10000px 0px 0px;
}

#u5065.MuseLinkActive
{
	margin: 862px -10000px 0px 0px;
}

#u5069
{
	z-index: 56;
	width: 2px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 1px;
}

#u5104
{
	z-index: 57;
	width: 587px;
	margin-right: -10000px;
	margin-top: 199px;
	left: 91px;
}

#menuu5145
{
	z-index: 59;
	width: 180px;
	margin-right: -10000px;
	margin-top: 287px;
	left: 499px;
}

#u5146
{
	width: 180px;
}

#u5147
{
	width: 180px;
	min-height: 17px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u5147:hover
{
	margin: 0px -10000px 0px 0px;
}

#u5147:active
{
	margin: 0px -10000px 0px 0px;
}

#u5150-4
{
	width: 180px;
	min-height: 17px;
	margin-right: -10000px;
	top: 4px;
}

#u5147:hover #u5150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u5147:active #u5150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u5147.MuseMenuActive #u5150-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u5151
{
	width: 86px;
	left: 180px;
}

#u5189
{
	width: 86px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5147.MuseMenuActive,#u5189:hover
{
	margin: 0px -10000px 0px 0px;
}

#u5212
{
	width: 86px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5189.MuseMenuActive,#u5212:hover
{
	margin: 0px -10000px 0px 0px;
}

#u5177
{
	width: 86px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5212.MuseMenuActive,#u5177:hover
{
	margin: 0px -10000px 0px 0px;
}

#u5196
{
	width: 86px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5177.MuseMenuActive,#u5196:hover
{
	margin: 0px -10000px 0px 0px;
}

#u5168
{
	width: 86px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5196.MuseMenuActive,#u5168:hover
{
	margin: 0px -10000px 0px 0px;
}

#u5217
{
	width: 86px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5168.MuseMenuActive,#u5217:hover
{
	margin: 0px -10000px 0px 0px;
}

#u5163
{
	width: 86px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5217.MuseMenuActive,#u5163:hover
{
	margin: 0px -10000px 0px 0px;
}

#u5184
{
	width: 86px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5163.MuseMenuActive,#u5184:hover
{
	margin: 0px -10000px 0px 0px;
}

#u5154
{
	width: 86px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5184.MuseMenuActive,#u5154:hover
{
	margin: 0px -10000px 0px 0px;
}

#u5205
{
	width: 86px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5154.MuseMenuActive,#u5205:hover
{
	margin: 0px -10000px 0px 0px;
}

#u7293
{
	width: 86px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u5205.MuseMenuActive,#u7293:hover
{
	margin: 0px -10000px 0px 0px;
}

#u7463
{
	width: 86px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u7293.MuseMenuActive,#u7463:hover
{
	margin: 0px -10000px 0px 0px;
}

#u7472
{
	width: 86px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u7463.MuseMenuActive,#u7472:hover
{
	margin: 0px -10000px 0px 0px;
}

#u7987
{
	width: 86px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u7472.MuseMenuActive,#u7987:hover
{
	margin: 0px -10000px 0px 0px;
}

#u7994
{
	width: 86px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u7987.MuseMenuActive,#u7994:hover
{
	margin: 0px -10000px 0px 0px;
}

#u8465
{
	width: 86px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u7994.MuseMenuActive,#u8465:hover
{
	margin: 0px -10000px 0px 0px;
}

#u8472
{
	width: 86px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u8465.MuseMenuActive,#u8472:hover
{
	margin: 0px -10000px 0px 0px;
}

#u8666
{
	width: 86px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u8472.MuseMenuActive,#u8666:hover
{
	margin: 0px -10000px 0px 0px;
}

#u5152,#u5188,#u5209,#u5174,#u5195,#u5167,#u5216,#u5160,#u5181,#u5153,#u5202,#u7290,#u7462,#u7469,#u7986,#u7993,#u8464,#u8471,#u8663,#u8670
{
	width: 86px;
}

#u8671
{
	width: 86px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u8666.MuseMenuActive,#u8671:hover
{
	margin: 0px -10000px 0px 0px;
}

#u8671.MuseMenuActive
{
	margin: 0px -10000px 0px 0px;
}

#u5192-4,#u5213-4,#u5179-4,#u5199-4,#u5171-4,#u5219-4,#u5165-4,#u5185-4,#u5156-4,#u5207-4,#u7295-4,#u7466-4,#u7475-4,#u7990-4,#u7995-4,#u8466-4,#u8475-4,#u8668-4,#u8674-4
{
	width: 78px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 2px;
}

#u5054
{
	z-index: 183;
	height: 114px;
	width: 97px;
	margin-right: -10000px;
	margin-top: 815px;
	left: 29px;
}

#u7066
{
	z-index: 186;
	width: 650px;
	margin-right: -10000px;
	margin-top: 113px;
	left: 59px;
}

#u7067
{
	z-index: 189;
	width: 126px;
	margin-right: -10000px;
}

#u7069
{
	z-index: 187;
	width: 125px;
	margin-right: -10000px;
	left: 524px;
}

#u7069_img
{
	padding-bottom: 1px;
}

#page .verticalspacer
{
	clear: both;
}

