#u4220:active
{
	background-color: #E5E5E5;
	background-color: rgba(127, 127, 127, 0.2);
	-pie-background: rgba(127, 127, 127, 0.2);
}

#u13152:active
{
	background-color: #E5E5E5;
	background-color: rgba(127, 127, 127, 0.2);
	-pie-background: rgba(127, 127, 127, 0.2);
}

#u4224:active
{
	background-color: #E5E5E5;
	background-color: rgba(127, 127, 127, 0.2);
	-pie-background: rgba(127, 127, 127, 0.2);
}

#u4223:active
{
	background-color: #E5E5E5;
	background-color: rgba(127, 127, 127, 0.2);
	-pie-background: rgba(127, 127, 127, 0.2);
}

#u4221:active
{
	background-color: #E5E5E5;
	background-color: rgba(127, 127, 127, 0.2);
	-pie-background: rgba(127, 127, 127, 0.2);
}

#u4220.MuseLinkActive,#u4221.MuseLinkActive,#u4224.MuseLinkActive,#u13152.MuseLinkActive,#u4223.MuseLinkActive
{
	background-color: transparent;
}

#u3237_clip
{
	overflow: hidden;
}

#u3237_img
{
	opacity: 0.98;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=98)";
	filter: alpha(opacity=98);
}

#u3231,#u3235,#u3233,#u3237,#u3271
{
	position: fixed;
}

#u9691
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	position: relative;
}

#u9690-4
{
	text-align: center;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	font-style: normal;
	position: relative;
}

#u4213
{
	vertical-align: top;
	background: url("../images/u4213.png") no-repeat 9px 9px;
	position: fixed;
}

#u4213:hover
{
	background: url("../images/u4213-r.png") no-repeat 0px 0px;
}

#u4213:active
{
	background: url("../images/u4213-m.png") no-repeat 3px 3px;
}

#u4220:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
}

#u4215-5
{
	background-color: transparent;
	color: #3C3C3C;
	font-size: 15px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: fixed;
}

#u4221:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
}

#u13152:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
}

#u4223:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
}

#u4220,#u4221,#u13152,#u4223,#u4224
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u4224:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.2);
	-pie-background: rgba(255, 255, 255, 0.2);
}

#u4225,#u4226,#u4227,#u4228
{
	display: block;
	vertical-align: top;
	position: fixed;
}

#u4216-5,#u4217-5,#u4218-5,#u4219-5
{
	color: #3C3C3C;
	font-size: 15px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: fixed;
}

#u4215-3,#u4216-3,#u4217-3,#u4218-3,#u4219-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u4215-3  span,#u4216-3  span,#u4217-3  span,#u4218-3  span,#u4219-3  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u4215-2,#u4216-2,#u4217-2,#u4218-2,#u4219-2
{
	font-size: 13px;
}

#u4211
{
	vertical-align: top;
	background: url("../images/u4211.png") no-repeat 9px 9px;
	position: fixed;
}

#u4211:hover
{
	background: url("../images/u4211-r.png") no-repeat 0px 0px;
}

#u4211:active
{
	background: url("../images/u4211-m.png") no-repeat 3px 3px;
}

#u4209
{
	vertical-align: top;
	background: url("../images/u4209.png") no-repeat 9px 9px;
	position: fixed;
}

#u4209:hover
{
	background: url("../images/u4209-r.png") no-repeat 0px 0px;
}

#u4209:active
{
	background: url("../images/u4209-m.png") no-repeat 0px 0px;
}

#u4207
{
	vertical-align: top;
	background: url("../images/u4207.png") no-repeat 9px 9px;
	position: fixed;
}

#u4207:hover
{
	background: url("../images/u4207-r.png") no-repeat 0px 0px;
}

#u4207:active
{
	background: url("../images/u4207-m.png") no-repeat 3px 3px;
}

#u4229-4
{
	text-align: center;
	color: #7F7F7F;
	font-size: 8px;
	position: fixed;
}

