html
{
	background: #DEE2E1 url("../images/fondo-repetido.jpg") no-repeat center top fixed;
}

#page
{
	z-index: 1;
	width: 1040px;
	min-height: 688px;
	padding-bottom: 11px;
	margin-left: auto;
	margin-right: auto;
}

#u1620
{
	z-index: 2;
	width: 2586px;
	top: 2px;
	left: 50%;
	margin-left: -1293px;
}

#u1620_img
{
	padding-right: 2px;
	padding-bottom: 1px;
}

#pu1646
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 140px;
}

#pu1646_position_content
{
	margin-top: -74px;
	margin-bottom: 688px;
}

#u1646
{
	z-index: 6;
	width: 126px;
	top: 123px;
	left: 50%;
	margin-left: -325px;
}

#u1659
{
	z-index: 8;
	width: 701px;
	top: 128px;
	left: 50%;
	margin-left: -351px;
}

#u1659_clip
{
	width: 701px;
	height: 524px;
}

#u1659_img
{
	margin-top: -107px;
}

#u8181-4
{
	z-index: 64;
	width: 213px;
	text-align: center;
	font-size: 24px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: fixed;
	top: 226px;
	left: 50%;
	margin-left: -297px;
}

#u8182
{
	z-index: 68;
	width: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 413px;
	left: 50%;
	margin-left: -297px;
}

#u1628
{
	z-index: 23;
	height: 122px;
	width: 104px;
	top: 624px;
	left: 50%;
	margin-left: -389px;
}

#u1635
{
	z-index: 51;
	width: 168px;
	height: 46px;
	top: 674px;
	left: 50%;
	margin-left: -277px;
}

.ie #u1635
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1635:hover
{
	margin: 0px 0px 0px -277px;
}

.ie #u1635:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1635:active
{
	margin: 0px 0px 0px -277px;
}

.ie #u1635:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1635.MuseLinkActive
{
	margin: 0px 0px 0px -277px;
}

#u1630-5
{
	z-index: 26;
	width: 139px;
	top: 691px;
	left: 50%;
	margin-left: -263px;
}

#u1630-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 0px 0px 0px -263px;
}

#u1721-4
{
	z-index: 59;
	width: 363px;
	min-height: 11px;
	top: 730px;
	left: 50%;
	margin-left: -177px;
}

#u1636
{
	z-index: 52;
	width: 85px;
	height: 47px;
	top: 674px;
	left: 50%;
	margin-left: -111px;
}

.ie #u1635.MuseLinkActive,.ie #u1636
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1636:hover
{
	margin: 0px 0px 0px -111px;
}

.ie #u1636:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1636:active
{
	margin: 0px 0px 0px -111px;
}

.ie #u1636:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1636.MuseLinkActive
{
	margin: 0px 0px 0px -111px;
}

#u1640
{
	z-index: 55;
	top: 684px;
	left: 50%;
	margin-left: -110px;
}

#u1631-5
{
	z-index: 31;
	width: 56px;
	top: 691px;
	left: 50%;
	margin-left: -96px;
}

#u8184
{
	z-index: 69;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 152px;
	left: 50%;
	margin-left: -59px;
}

#u13151
{
	z-index: 63;
	width: 83px;
	height: 47px;
	top: 674px;
	left: 50%;
	margin-left: -28px;
}

.ie #u1636.MuseLinkActive,.ie #u13151
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13151:hover
{
	margin: 0px 0px 0px -28px;
}

.ie #u13151:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u13151:active
{
	margin: 0px 0px 0px -28px;
}

.ie #u13151:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u13151.MuseLinkActive
{
	margin: 0px 0px 0px -28px;
}

#u1641
{
	z-index: 56;
	top: 684px;
	left: 50%;
	margin-left: -27px;
}

#u1632-5
{
	z-index: 36;
	width: 56px;
	top: 691px;
	left: 50%;
	margin-left: -13px;
}

#u1638
{
	z-index: 53;
	width: 97px;
	height: 46px;
	top: 674px;
	left: 50%;
	margin-left: 56px;
}

.ie #u13151.MuseLinkActive,.ie #u1638
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1638:hover
{
	margin: 0px 0px 0px 56px;
}

.ie #u1638:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1638:active
{
	margin: 0px 0px 0px 56px;
}

.ie #u1638:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1638.MuseLinkActive
{
	margin: 0px 0px 0px 56px;
}

#u1642
{
	z-index: 57;
	top: 684px;
	left: 50%;
	margin-left: 56px;
}

#u1633-5
{
	z-index: 41;
	width: 68px;
	top: 691px;
	left: 50%;
	margin-left: 70px;
}

#u1639
{
	z-index: 54;
	width: 82px;
	height: 46px;
	top: 674px;
	left: 50%;
	margin-left: 151px;
}

.ie #u1638.MuseLinkActive,.ie #u1639
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1639:hover
{
	margin: 0px 0px 0px 151px;
}

.ie #u1639:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1639:active
{
	margin: 0px 0px 0px 151px;
}

.ie #u1639:active
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1639.MuseLinkActive
{
	margin: 0px 0px 0px 151px;
}

.ie #u1639.MuseLinkActive
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1643
{
	z-index: 58;
	top: 684px;
	left: 50%;
	margin-left: 151px;
}

#u1634-5
{
	z-index: 46;
	width: 56px;
	top: 691px;
	left: 50%;
	margin-left: 165px;
}

#u1644
{
	z-index: 4;
	width: 125px;
	top: 123px;
	left: 50%;
	margin-left: 223px;
}

#u1644_img
{
	padding-bottom: 1px;
}

#u1626
{
	z-index: 19;
	height: 53px;
	width: 53px;
	top: 672px;
	left: 50%;
	margin-left: 255px;
}

#u1624
{
	z-index: 15;
	height: 53px;
	width: 53px;
	top: 672px;
	left: 50%;
	margin-left: 296px;
}

#u1622
{
	z-index: 11;
	height: 53px;
	width: 53px;
	top: 672px;
	left: 50%;
	margin-left: 336px;
}

body
{
	padding-top: 49px;
	padding-bottom: 51px;
}

#page .verticalspacer
{
	clear: both;
}

