#u383-4
{
	font-family: open-sans-i7, sans-serif;
}

#u188-4
{
	font-family: open-sans-n7, sans-serif;
}

#u228-4,#u254-4,#u598-4
{
	font-family: open-sans-n3, sans-serif;
}

#u491-2,#u491-3,#u185-2,#u185-6,#u186,#u186-5,#u747-4,#u517-2,#u517-4,#u642-3,#u642-4,#u644-2,#u646-2,#u646-4,#u648-2,#u650-2,#u386-2,#u386-3,#u386-5,#u426-2,#u457-6,#u521-2,#u599-3,#u599-10
{
	font-family: open-sans-i6, sans-serif;
}

#u491-5,#u679-2,#u517-5,#u523-2,#u600-2,#u642-2,#u642-6,#u648-4,#u650-4,#u426-4,#u429-2,#u457-2,#u457-4,#u521-4,#u599-2,#u599-4,#u599-6,#u599-12
{
	font-family: open-sans-i4, sans-serif;
}

#u491-9,#u185-4,#u185-5,#u185-8,#u185-10,#u185-12,#u186-10,#u679-6,#u517-9,#u523-6,#u600-5,#u642-9,#u644-6,#u646-8,#u648-7,#u650-8,#u386-10,#u426-8,#u429-5,#u457-10,#u521-7,#u599-17,#u640-4
{
	font-family: open-sans-n4, sans-serif;
}

