#u5718-4,#u5724-4,#u5722-4,#u5723-4,#u5729-4,#u5717-4,#u5719-4,#u5726-4,#u5720-4,#u5721-4,#u5728-4
{
	font-family: source-sans-pro-i4, sans-serif;
}

#u5739-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u5986-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

