@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

html
{
	background: #EBEBEB url("../../images/back%20phone.png") repeat center center scroll;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
}

#page_position_content
{
	margin-top: 6px;
	margin-bottom: 14px;
}

#u5694
{
	z-index: 4;
	margin-left: 134px;
}

#slideshowu5860
{
	z-index: 77;
	width: 0.01px;
	height: 269px;
	left: -1px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u5918
{
	position: absolute;
	width: 381px;
	height: 250px;
	background-color: transparent;
}

#u5918popup
{
	z-index: 78;
}

#u5919
{
	z-index: 79;
	width: 381px;
	height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5923
{
	z-index: 81;
	width: 381px;
	height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5935
{
	z-index: 83;
	width: 381px;
	height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5937
{
	z-index: 85;
	width: 381px;
	height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5921
{
	z-index: 87;
	width: 381px;
	height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5929
{
	z-index: 89;
	width: 381px;
	height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5927
{
	z-index: 91;
	width: 381px;
	height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5933
{
	z-index: 93;
	width: 381px;
	height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5925
{
	z-index: 95;
	width: 381px;
	height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5925_img
{
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 2px;
}

#u5931
{
	z-index: 97;
	width: 381px;
	height: 250px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5919_img,#u5923_img,#u5935_img,#u5937_img,#u5921_img,#u5929_img,#u5927_img,#u5933_img,#u5931_img
{
	padding: 2px 1px;
}

#u5914-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 239px;
	left: 156px;
}

#u5914-4popup
{
	z-index: 99;
}

#u5916-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 239px;
	left: 115px;
}

#u5916-4popup
{
	z-index: 103;
}

#u5914,#u5916
{
	color: #999999;
}

#u5915-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	color: #999999;
	line-height: 1.4;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 239px;
	left: 236px;
}

#u5915-4popup
{
	z-index: 107;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#pu6001
{
	width: 0.01px;
	margin-left: 126px;
	position: relative;
}

#u6001
{
	z-index: 2;
	width: 120px;
	margin-right: -10000px;
}

#u5707
{
	z-index: 6;
	width: 56px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 63px;
}

.ie #u5707
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5707:hover
{
	margin: 36px -10000px 0px 0px;
}

.ie #u5707:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u5707.MuseLinkActive
{
	margin: 36px -10000px 0px 0px;
}

#u6063
{
	z-index: 7;
	width: 56px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 2px;
}

.ie #u5707.MuseLinkActive,.ie #u6063
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u6063:hover
{
	margin: 20px -10000px 0px 0px;
}

.ie #u6063:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u6063.MuseLinkActive
{
	margin: 20px -10000px 0px 0px;
}

#u6065
{
	z-index: 18;
	width: 53px;
	height: 21px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 2px;
}

.ie #u6063.MuseLinkActive,.ie #u6065
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u6065:hover
{
	margin: 54px -10000px 0px 0px;
}

.ie #u6065:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u6065.MuseLinkActive
{
	margin: 54px -10000px 0px 0px;
}

#pamphletu5712
{
	z-index: 19;
	width: 0.01px;
	height: 23px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 61px;
}

#u5715popup
{
	z-index: 20;
}

#u5715
{
	width: 375px;
	padding-bottom: 44px;
	top: -353px;
	left: -185px;
}

#u5716
{
	z-index: 21;
	width: 331px;
	height: 492px;
	padding-top: 3px;
	margin-right: -10000px;
	top: 22px;
	left: 22px;
}

#u5727
{
	z-index: 23;
	width: 208px;
	padding-bottom: 4px;
	margin-left: 62px;
}

#u5718-4
{
	z-index: 24;
	width: 208px;
	margin-right: -10000px;
	margin-top: 5px;
}

#pu6313
{
	width: 0.01px;
	margin-top: 26px;
	position: relative;
}

#u6313
{
	z-index: 28;
	width: 331px;
	margin-right: -10000px;
}

#u5724-4
{
	z-index: 30;
	width: 58px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 30px;
}

#u5722-4
{
	z-index: 34;
	width: 78px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 128px;
}

#u5723-4
{
	z-index: 38;
	width: 84px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 230px;
}

#u5729-4
{
	z-index: 42;
	width: 81px;
	margin-right: -10000px;
	margin-top: 94px;
	left: 126px;
}

#u5717-4
{
	z-index: 46;
	width: 35px;
	margin-right: -10000px;
	margin-top: 49px;
	left: 41px;
}

#u5719-4
{
	z-index: 50;
	width: 83px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 127px;
}

#u5726-4
{
	z-index: 54;
	width: 83px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 230px;
}

#u5720-4
{
	z-index: 58;
	width: 72px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 23px;
}

#u5721-4
{
	z-index: 62;
	width: 83px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 125px;
}

#u5728-4
{
	z-index: 66;
	width: 84px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 231px;
}

#u5725
{
	z-index: 22;
	width: 66px;
	height: 7px;
	margin-left: 134px;
	margin-top: 324px;
}

#u5736
{
	z-index: 70;
	width: 58px;
	margin-right: -10000px;
}

#u5737
{
	width: 58px;
	height: 23px;
}

.ie #u6065.MuseLinkActive,.ie #u5725,.ie #u5737
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u5737:hover
{
	margin: 0px;
}

.ie #u5737:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u5738
{
	width: 72px;
	padding-bottom: 2px;
	top: -143px;
	left: -33px;
}

#u5738:hover
{
	margin: 0px;
}

#u5738:active
{
	margin: 0px;
}

#u5739-4
{
	z-index: 73;
	width: 70px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 2px;
}

#pu6040
{
	width: 0.01px;
	margin-left: 70px;
	margin-top: 6px;
	position: relative;
}

#u6040
{
	z-index: 12;
	width: 30px;
	margin-right: -10000px;
}

#u6044
{
	z-index: 16;
	width: 30px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 106px;
}

#u6042
{
	z-index: 14;
	width: 30px;
	margin-right: -10000px;
	left: 211px;
}

#u5986-4
{
	z-index: 8;
	width: 268px;
	min-height: 13px;
	margin-left: 54px;
	margin-top: 14px;
}

#page .verticalspacer
{
	clear: both;
}

