#u5707.MuseLinkActive,#u6065.MuseLinkActive,#u6063.MuseLinkActive
{
	background-color: transparent;
	-moz-border-radius: 16px 16px 16px 0px ;
	-webkit-border-radius: 16px 16px 16px 0px ;
	-khtml-border-radius: 16px 16px 16px 0px ;
	border-radius: 16px 16px 16px 0px ;
}

#u5694_img
{
	display: block;
	vertical-align: top;
}

#u5707:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.25);
	-moz-border-radius: 9px 9px 9px 0px ;
	-webkit-border-radius: 9px 9px 9px 0px ;
	-khtml-border-radius: 9px 9px 9px 0px ;
	border-radius: 9px 9px 9px 0px ;
	-pie-background: rgba(255, 255, 255, 0.25);
}

#u6063:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.25);
	-moz-border-radius: 9px 9px 0px 9px ;
	-webkit-border-radius: 9px 9px 0px 9px ;
	-khtml-border-radius: 9px 9px 0px 9px ;
	border-radius: 9px 9px 0px 9px ;
	-pie-background: rgba(255, 255, 255, 0.25);
}

#u5707,#u6063,#u6065
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 16px 16px 16px 0px ;
	-webkit-border-radius: 16px 16px 16px 0px ;
	-khtml-border-radius: 16px 16px 16px 0px ;
	border-radius: 16px 16px 16px 0px ;
	position: relative;
}

#u6065:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.25);
	-moz-border-radius: 8px 8px 0px 8px ;
	-webkit-border-radius: 8px 8px 0px 8px ;
	-khtml-border-radius: 8px 8px 0px 8px ;
	border-radius: 8px 8px 0px 8px ;
	-pie-background: rgba(255, 255, 255, 0.25);
}

#u5715
{
	position: absolute;
	background: transparent url("../../images/u5715-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(0, 0, 0, 0.53)),color-stop(90%, #7F7F7F));
	background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.53) ,#7F7F7F 90%);
	background: -moz-linear-gradient(top,rgba(0, 0, 0, 0.53) ,#7F7F7F 90%);
	background: -ms-linear-gradient(top,rgba(0, 0, 0, 0.53) ,#7F7F7F 90%);
	background: -o-linear-gradient(top,rgba(0, 0, 0, 0.53) ,#7F7F7F 90%);
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0.53) ,#7F7F7F 90%);
}

#u5716
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 15px 15px 0px 0px ;
	-webkit-border-radius: 15px 15px 0px 0px ;
	-khtml-border-radius: 15px 15px 0px 0px ;
	border-radius: 15px 15px 0px 0px ;
	position: relative;
}

#u5727
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	position: relative;
}

#u5718-4
{
	text-align: center;
	font-size: 13px;
	color: #DBD9D9;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
	font-style: italic;
	position: relative;
}

#u5724-4,#u5722-4
{
	text-align: center;
	font-size: 9px;
	color: #000000;
	letter-spacing: 0px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u5723-4,#u5729-4
{
	text-align: center;
	line-height: 1;
	font-size: 9px;
	color: #000000;
	letter-spacing: 0px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

#u5717-4,#u5719-4,#u5726-4
{
	text-align: center;
	font-size: 9px;
	color: #000000;
	letter-spacing: 0px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	-webkit-transform: rotate(358deg);
	-moz-transform: rotate(358deg);
	-ms-transform: rotate(358deg);
	-o-transform: rotate(358deg);
	transform: rotate(358deg);
	position: relative;
}

#u5720-4,#u5721-4,#u5728-4
{
	text-align: center;
	font-size: 9px;
	color: #000000;
	letter-spacing: 0px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
	position: relative;
}

#u5737
{
	position: absolute;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u5737:hover
{
	background-color: #E9E9E9;
	background-color: rgba(127, 127, 127, 0.17);
	-moz-border-radius: 8px 8px 8px 0px ;
	-webkit-border-radius: 8px 8px 8px 0px ;
	-khtml-border-radius: 8px 8px 8px 0px ;
	border-radius: 8px 8px 8px 0px ;
	-pie-background: rgba(127, 127, 127, 0.17);
}

#u5738
{
	position: absolute;
	background: #000000 url("../../images/u2301-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#C4C4C4),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#C4C4C4 ,#000000 100%);
	background: -moz-linear-gradient(top,#C4C4C4 ,#000000 100%);
	background: -ms-linear-gradient(top,#C4C4C4 ,#000000 100%);
	background: -o-linear-gradient(top,#C4C4C4 ,#000000 100%);
	background: linear-gradient(to bottom,#C4C4C4 ,#000000 100%);
	border-color: #999999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

#u5738:hover
{
	background: #000000 url("../../images/u2301-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#999999),color-stop(78%, #000000));
	background: -webkit-linear-gradient(top,#999999 ,#000000 78%);
	background: -moz-linear-gradient(top,#999999 ,#000000 78%);
	background: -ms-linear-gradient(top,#999999 ,#000000 78%);
	background: -o-linear-gradient(top,#999999 ,#000000 78%);
	background: linear-gradient(to bottom,#999999 ,#000000 78%);
	border-color: #6B6B6B;
}

#u5738:active
{
	background: #000000 url("../../images/u2301-m-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#6B6B6B),color-stop(78%, #000000));
	background: -webkit-linear-gradient(top,#6B6B6B ,#000000 78%);
	background: -moz-linear-gradient(top,#6B6B6B ,#000000 78%);
	background: -ms-linear-gradient(top,#6B6B6B ,#000000 78%);
	background: -o-linear-gradient(top,#6B6B6B ,#000000 78%);
	background: linear-gradient(to bottom,#6B6B6B ,#000000 78%);
	border-color: #6B6B6B;
}

#u5739-4
{
	text-align: center;
	line-height: 1.4;
	font-size: 9px;
	color: #E4E2E2;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u5694,#u6001,#pamphletu5712,#u6313,#u5725,#u5736,#u6040,#u6044,#u6042
{
	position: relative;
}

#u5986-4
{
	text-align: center;
	font-size: 9px;
	color: #ADADAD;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
}

